<%= attatchment %>
<% var id = guid() %>
<div class="float-right">
<% if (attatchment.endsWith(".png") || attatchment.endsWith(".jpg")) { %>
  <button class="btn btn-outline-success" onclick="$('#<%= id %>').toggle('slow')">
    View
  </button>
<% } %>
  <button class="btn btn-outline-warning" onclick="downloadFile('https://raw.githubusercontent.com/codingJWilliams/Year10_Homework/master/<%= homework.id %>/<%= attatchment %>')">
    Download
  </button>
</div>
<% if (attatchment.endsWith(".png") || attatchment.endsWith(".jpg")) { %>
  <div style="display: none; width: 100%;" id="<%= id %>">
    <br>
    <img style="width: 100%" src="https://raw.githubusercontent.com/codingJWilliams/Year10_Homework/master/<%= homework.id %>/<%= attatchment %>">
  </div>
<% } %>
