<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="card bg-dark text-white">
        <div class="card-body">
          <h4 class="card-title">Homework <%= homework.id %></h4>
        </div>
        <ul class="list-group list-group-flush bg-dark">
          <li class="list-group-item bg-dark"><b>From Teacher:</b> <%= homework.teacher %></li>
          <li class="list-group-item bg-dark"><b>Date Given:</b> <%= getD(homework.dategiven) %></li>
          <li class="list-group-item bg-dark"><b>Date Due In:</b> <%= getD(homework.datein) %></li>
          <li class="list-group-item bg-dark"><b>Set:</b> <%= homework.class %></li>
          <li class="list-group-item bg-dark"><b>Lesson:</b> <%= homework.lesson %></li>
          <li class="list-group-item bg-dark"><b>Number of tasks:</b> <%= homework.tasks.length %></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-8">
      <% for (var i = 0 ; i < homework.tasks.length ; i++) { %>
        <%- include('../partials/homework_task', { task: homework.tasks[i] } ) %>
      <% } %>
    </div>
  </div>
</div>
