<% if ( getD(homework.datein) === getD(Date.now() / 1000) ) { %>
  <tr class="text-danger">
<% } else if (hasPassed(homework.datein)) {  %>
  <tr class="text-muted">
<% } else { %>
  <tr>
<% } %>
  <th scope="row" style="vertical-align: middle"> <%= homework.id %> </th>
  <td style="vertical-align: middle"> <%= homework.lesson %></td>
  <td style="vertical-align: middle"> <%= homework.class %></td>
  <td style="vertical-align: middle"> <%= homework.teacher %></td>
  <td style="vertical-align: middle"> <%= getD(homework.dategiven) %></td>
  <td style="vertical-align: middle"> <%= getD(homework.datein) %></td>
  <td style="vertical-align: middle"> <button class="btn btn-outline-success" onclick="window.location.href='/homework/<%= homework.id %>'"> View Details </button> </td>

</tr>
