<div class="card bg-dark text-white">
  <div class="card-body">
    <h4 class="card-title"><%= task.type.split(' ').map(w => w[0].toUpperCase() + w.substr(1).toLowerCase()).join(' ') %> Task</h4>
    <%- include("../partials/taskview_" + task.type) %>
  </div>
</div>
