<div class="container-fluid">
  <div class="row">
    <nav class="navbar fixed-top navbar-dark bg-dark" style="width:100% !important;">
      <span class="navbar-brand"><kbd>JayWilliams <%= active === 0 ? "HomeworkHub" : "RevisionHub" %></kbd></span>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link <%= active === 0 ? 'active bg-danger ' : '' %>text-white" href="/">HomeworkHub</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= active === 1 ? 'active bg-danger ' : '' %>text-white" href="/rhub">RevisionHub</a>
        </li>
      </ul>
        <span class="navbar-text">
          <% if (logged_in) { %>
            Logged in as <%= username %>
          <% } else { %>
            Not Logged In
          <% } %>
        </span>
    </nav>
  </div>
</div>
