<h6> <%= task.title %> </h6>
<%= task.instructions %>
<br><br>
<h6> Complete Work </h6>
<ul class="list-group">
  <% for (var a = 0; a < task.complete.length ; a++) { %>
    <li class="list-group-item bg-dark" style="vertical-align: middle">
      <%- include('../partials/attatchment_render', {attatchment: task.complete[a]}) %>
    </li>
  <% } %>
</ul>
<br>
<h6> Incomplete Work </h6>
<ul class="list-group">
  <% for (var a = 0; a < task.incomplete.length ; a++) { %>
    <li class="list-group-item bg-dark" style="vertical-align: middle">
      <%- include('../partials/attatchment_render', {attatchment: task.incomplete[a]}) %>
    </li>
  <% } %>
</ul>
