<h6> <%= task.title %> </h6>
<%= task.instructions %>
<br><br>
<h6> Attatchments </h6>
<ul class="list-group">
  <% for (var a = 0; a < task.attatchments.length ; a++) { %>
    <li class="list-group-item bg-dark" style="vertical-align: middle">
      <%- include('../partials/attatchment_render', {attatchment: task.attatchments[a]}) %>
    </li>
  <% } %>
</ul>
