<h6> <a href="<%= task.url %>"> <%= task.title %> </a> </h6>
<div class="progress">
  <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= task.score %>%">Jay's Score: <%= task.score %>%</div>
</div>
<br><br>
<h6> My Workbook </h6>
<ul class="list-group">
  <% for (var a = 0; a < task.workbook_pages.length ; a++) { %>
    <li class="list-group-item bg-dark" style="vertical-align: middle">
      <%- include('../partials/attatchment_render', {attatchment: task.workbook_pages[a]}) %>
    </li>
  <% } %>
</ul>
<br>
