<h6> <%= task.title %> </h6>
<%= task.instructions %>
<br><br>
<h6> Help Links </h6>
<ul class="list-group">
  <% for (var a = 0; a < task.help_links.length ; a++) { %>
    <li class="list-group-item bg-dark" style="vertical-align: middle">
      <a href="<%- task.help_links[a] %>"> <%- task.help_links[a] %> </a>
    </li>
  <% } %>
</ul>
