<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ../../partials/head %>
  </head>
  <body class="bg-dark">
      <% include ../../partials/navbar %>
      <div class="container-fluid" style="padding-top: 75px;">
        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"><%= subject.name %> / <%= category.name %></h4>
                  <h6 class="card-subtitle mb-2 text-muted"></h6>
                  <p class="card-text"><%= category.description %></p>
                  <button class="btn btn-outline-danger" onclick="window.location.href='/rhub/subject/<%= subject.sid %>/'"> Go Back </button>
                </div>
              </div>
            </div>

          </div>
          <br>
          <div class="col-sm-8">
            <table class="table table-hover table-inverse">
              <thead>
                <tr>
                  <th>Guide Name</th>
                  <th>Description</th>
                  <th>Created On</th>
                  <th>View</th>
                </tr>
              </thead>
              <tbody>
                <% for (var i = 0; i < category.guides.length; i++) {
                  var guide = category.guides[i];
                  %>
                <tr style="vertical-align: middle;">
                  <td style="vertical-align: middle;"><%= guide.name %></td>
                  <td style="vertical-align: middle;"><%= guide.description %></td>
                  <td style="vertical-align: middle;"><%= gnd(guide.created) %></td>
                  <td style="vertical-align: middle;"><button class="btn btn-outline-success" onclick="window.location.href='/rhub/guide/<%= subject.sid %>/<%= category.cid %>/<%= i %>'"> View </button></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </body>
  <script>

</script>
</html>
