<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ../../partials/head %>
  </head>
  <body class="bg-dark">
      <% include ../../partials/navbar %>
      <div class="container-fluid" style="padding-top: 75px;">
        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h4> <%= guide.name %></h4>
                <%= guide.description %>
                <br>
                <span class="text-muted"> Written on <%= gnd(guide.created) %> </span>
              </div>
            </div>
          </div>
          <div class="col-sm-8 text-white">
            <%- include("../guides/guide_" + guide.id) %>
          </div>
        </div>
      </div>
  </body>
  <script>

</script>
</html>
