<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ../../partials/head %>
  </head>
  <body class="bg-dark">
      <% include ../../partials/navbar %>
      <div class="container-fluid" style="padding-top: 75px;">
        <div class="row">
          <div class="col-sm-4">
            <%
            for (var i = 0; i < subjects.length; i++) { %>
              <%- include('../partials/subject_card', {subject: subjects[i], chosen: false}) %>
            <% } %>
          </div>
          <div class="col-sm-8">
            <%- include ../content/homepage/explanation %>
          </div>
        </div>
      </div>
  </body>
  <script>

</script>
</html>
