<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ../../partials/head %>
  </head>
  <body class="bg-dark">
      <% include ../../partials/navbar %>
      <div class="container-fluid" style="padding-top: 75px;">
        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"><%= subject.name %></h4>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <p class="card-text"></p>
                <button class="btn btn-outline-danger" onclick="window.location.href='/rhub/'"> Back </button>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <% for (var i = 0; i < subject.categories.length; i++) { %>
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"><%= subject.categories[i].name %></h4>
                  <h6 class="card-subtitle mb-2 text-muted"></h6>
                  <p class="card-text"><%= subject.categories[i].description %></p>
                  <button class="btn btn-outline-success" onclick="window.location.href='/rhub/subject/<%= subject.sid %>/category/<%= subject.categories[i].cid %>'"> View </button>
                </div>
              </div>
            <% } %>
          </div>

          <div class="col-sm-4">

          </div>
        </div>
      </div>
  </body>
  <script>

</script>
</html>
