<div class="card mb-3 bg-dark text-white">
  <div class="card-body">
    <h4 class="card-title">What is RevisionHub?</h4>
    <p class="card-text">
      RevisionHub is a website I have put together to aid in revision for all subjects. You can filter by subject and category.
      <br>
    </p>
    <p class="card-text"><small class="text-muted">- Jay</small></p>
  </div>
</div>
