<div class="card">
  <div class="card-body">
    <h4 class="card-title"><%= subject.name %></h4>
    <% if (!chosen) { %>
    <button class="btn btn-outline-primary" onclick="window.location.href = '/rhub/subject/<%= subject.sid %>'"> Select this subject </button>
    <% } else { %>
    <button class="btn btn-outline-danger" onclick="window.location.href = '/rhub'"> Choose another subject </button>
    <% } %>
  </div>
</div>
<br>
