<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ../partials/head %>
  </head>
  <body class="bg-dark">
      <% include ../partials/navbar %>
      <table class="table table-hover table-inverse" style="margin-top: 55px !important;">
        <thead>
          <tr>
            <th>ID</th>
            <th>Lesson Name</th>
            <th>Set</th>
            <th>Teacher</th>
            <th>Date Given</th>
            <th>Date In</th>
            <th>View Details</th>
          </tr>
        </thead>
        <tbody>
          <%- include('../partials/homework_list_view', {getD: getD, hasPassed: hasPassed}); %>
        </tbody>
      </table>
      <div class="container-fluid" style="margin-bottom: 15px;">
        <button class="btn btn-outline-danger" onclick="window.location.href='/'"> Back to main screen </button>
      </div>
      <%- include('../partials/homework_details') %>

  </body>
  <script>

</script>
</html>
