<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ../partials/head %>
  </head>
  <body class="bg-dark">
      <% include ../partials/navbar %>
      <br>
      <br>
      <br>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 col-sm-3"></div>
          <div class="col-md-4 col-sm-6">
            <div class="card bg-dark text-white" id="thing">
              <img class="card-img-top" src="/school-icon.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Log in with your school username</h4>
                <p class="card-text">You will need your school username, ie 14williamsj, and a pin code which can be obtained from Jay.</p>
                <button id="login_main" class="btn btn-primary" onclick="login_account()">Log In</button>
              </div>
              <div id="login_card" class="card-body" style="display:none;">
                  <div class="form-group">
                    <label for="usr">School Username</label>
                    <input type="text" class="form-control" id="usr" placeholder="14williamsj">
                  </div>
                  <div class="form-group">
                    <label for="pswd">Pin Code</label>
                    <input type="password" class="form-control" id="pswd" placeholder="1234">
                  </div>
                  <button onclick="login_account_button()" class="btn btn-primary">Log In</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-3"></div>
        </div>
      </div>
  </body>
  <script>
function login_account() {
  $("#login_main").toggle("fast")
  $("#login_card").toggle("fast");

}
function login_account_button() {
  $.post(
    "/api/login_pls/",
    {
      rdata: {
        username: $("#usr").val(),
        pin: $("#pswd").val(),
        test: "TRUEE"
      }

    },
    function (data, status) {
      console.log(status)
      if (status !== "success") {
        console.log(status)
      } else {
        console.log(data)
        window.location.href = "/"
      }

    }
  )
}
</script>
</html>
