<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ../partials/head %>
  </head>
  <body class="bg-dark">
      <% include ../partials/navbar %>
      <table class="table table-hover table-inverse" style="margin-top: 55px !important;">
        <thead>
          <tr>
            <th>ID</th>
            <th>Lesson Name</th>
            <th>Set</th>
            <th>Teacher</th>
            <th>Date Given</th>
            <th>Date In</th>
            <th>View Details</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < homeworks.length; i++) { %>
            <%- include('../partials/homework_list_view', {getD: getD, hasPassed: hasPassed, homework: homeworks[homeworks.length - (i + 1)]}); %>
          <% } %>
        </tbody>
      </table>
  </body>
  <script>

</script>
</html>
